GPUtil
Pillow
aiohttp
aiosignal
argon2-cffi
async-timeout
attrs
beautifulsoup4
certifi
charset-normalizer
colorama
comtypes
cryptography
customtkinter
discord.py
dnspython
edge-tts
fade
faker
frozenlist
idna
instaloader
keyboard
multidict
opencv-python
phonenumbers
psutil
pyautogui
pycryptodome
pyfiglet
pyinstaller
pyinstaller-hooks-contrib
pyperclip
pystyle
pywin32
requests
rich
scapy
screeninfo
selenium
urllib3
whois
yarl
