requests
colorama
beautifulsoup4
pystyle
pyfiglet
discord.py
dnspython
whois
pyinstaller
pyinstaller-hooks-contrib
phonenumbers
instaloader
selenium
faker
fade
edge-tts
customtkinter
cryptography
urllib3
certifi
charset-normalizer
idna
pywin32
aiohttp
multidict
yarl
async-timeout
attrs
frozenlist
aiosignal
Pillow
psutil
GPUtil
screeninfo
keyboard
pyautogui
pycryptodome
opencv-python
argon2-cffi
scapy
browser_cookie3
pyperclip
rich
