aiohttp
aiosignal
argon2-cffi
async-timeout
attrs
beautifulsoup4
certifi
charset-normalizer
colorama
comtypes
cryptography
customtkinter
discord.py
dnspython
edge-tts
fade
faker
frozenlist
GPUtil
idna
instaloader
keyboard
multidict
numpy
opencv-python
phonenumbers
Pillow
psutil
pyautogui
pycryptodome
pyfiglet
pyinstaller
pyinstaller-hooks-contrib
pyperclip
pystyle
pywin32
PyYAML
requests
rich
scapy
screeninfo
selenium
sounddevice
soundfile
urllib3
wave
whois
yarl
